@font-face {
  font-family: "Uncut Sans";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/uncut-sans/Uncut-Sans-Bold.woff") format("woff"),
    url("./assets/fonts/uncut-sans/Uncut-Sans-Bold.woff2") format("woff2");
  font-display: swap;
}

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors */
  --clr-queen-blue: #456990;
  --clr-light-coral: #ef767a;
  --clr-keepel: #49beaa;
  --clr-medium-aquamarine: #49dcb1;
  --clr-sunray: #eeb868;

  /* Primary Colors */
  --clr-100: #ffffff;
  --clr-900: #000000;

  /* fonts */
  --ff-primary: "Uncut Sans", sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-primary);
  margin: 0;
  place-items: center;
}

.site-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.wrapper {
  max-width: 45rem;
  margin: 1rem auto 0 auto;
  padding: 0 1rem;
}

.inner-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 2rem;
  color: var(--clr-sunray);
}

.logo .lettering svg {
  border-radius: 5px;
  filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.2));
  width: 90px;
}

.logo .welcome {
  height: 90px;
}

.logo .lettering .welcome .mask {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
}

nav {
  margin-left: auto;
  padding: 0.8rem 0;
}

ul {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

#available {
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-bottom: 1rem;
}

.available-container {
  background-color: var(--clr-light-coral);
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
  padding-block: 0.2rem;
  border-radius: 0.2rem;
  display: flex;
}

.available--icon {
  font-size: 1.3rem;
  margin-right: 0.3rem;
}

.available--text {
  font-size: 1.3rem;
}

section {
  min-height: 100vh;
}

.section--hero {
  background-color: var(--clr-queen-blue);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.section--tutorials {
  background-color: var(--clr-light-coral);
}

.section--work {
  background-color: var(--clr-keepel);
}

h1 {
  line-height: 0.8;
}

.hero {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.hero-name {
  font-size: clamp(7.9rem, 22vw, 11rem);
  text-align: center;
}

.hero-name:hover {
  animation: shake 0.5s infinite;
}

.hero-title {
  font-size: clamp(5rem, 10vw, 7rem);
  text-align: center;
  word-spacing: 2.2rem;
  color: var(--clr-queen-blue);
  background-color: var(--clr-sunray);
  padding: 0 0.5rem;
  letter-spacing: -0.6rem;
}

.hero-description {
  font-size: clamp(2rem, 9vw, 4.25rem);
  text-align: center;
}

.hero-description:has(span) > span {
  cursor: pointer;
  margin: 0 15px;
  box-shadow: inset 0 0 0 0 var(--clr-light-coral);
  color: var(--clr-light-coral);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hero-description:has(span) > span:hover {
  box-shadow: inset 140px 0 0 0 var(--clr-light-coral);
  color: white;
}

.container {
  max-width: 45rem;
  margin: 0 auto;
  padding: 5vw 0;

  @media (max-width: ) {
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes shake {
  0% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
  10% {
    transform: translate(-1px, 2px) rotate(1deg);
  }
  20% {
    transform: translate(3px, -2px) rotate(0deg);
  }
  30% {
    transform: translate(-1px, 2px) rotate(1deg);
  }
  40% {
    transform: translate(3px, -2px) rotate(0deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(1deg);
  }
  60% {
    transform: translate(3px, -2px) rotate(0deg);
  }
  70% {
    transform: translate(-1px, 2px) rotate(1deg);
  }
  80% {
    transform: translate(3px, -2px) rotate(0deg);
  }
  90% {
    transform: translate(-1px, 2px) rotate(1deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
